<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_area :title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :keywords %>
    <%= form.text_area :keywords, class: "form-control"%>
  </div>
  <p>Enter keywords related to your write up seperated by ","</p>

  <div class="form-group">
    <%= form.label :header_image %>
    <%= form.file_field :header_image %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select(category_options_array_for_article(nil, [], @article.category_id, 0), @article.id) , {required: true} ,class: "form-control" %>
  </div>
  <p>If you are not finding relavant category, then you can <%= link_to "Create a category", new_optimized_category_path %></p>
  <p>If you don't want to put it in a specific category, then just select <%= @root %></p>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.rich_text_area :body, required: true  %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
