<% @selected_category_class.articles.order(position: :asc).each do |article| %>
  <div class="card" style="margin-bottom: 10px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <% if article.header_image.attached?  %>
          <%= image_tag(main_app.url_for(article.header_image), style: "height:100%;width:100%;") %>
        <% else %>
          <% if article.body.embeds.find{|embeds| embeds.image?} %>
            <%= image_tag(main_app.url_for(article.body.embeds.find{|embeds| embeds.image?}), style: "height:100%;width:100%;") %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <% if @selected_category_class.parent.nil? %>
            <h4 class="card-title"><%= link_to "#{article.title}", root_articles_path(article, root: @root_category.slug || @root_category.classification), class: "grid-link" %></h4>
          <% else %>
            <h4 class="card-title"><%= link_to "#{article.title}", content_path(article, root: @root_category.slug || @root_category.classification, selected_category: @selected_category_class.slug  || @selected_category_class.classification), class: "grid-link" %></h4>
          <% end %>
          <p class="card-text"><%= article.description %></p>
          <% if @selected_category_class.parent.nil? %>
            <%= link_to "Read Now", root_articles_path(article, root: @root_category.slug || @root_category.classification), class: "btn btn-outline-primary"%>
          <% else %>
            <%= link_to "Read Now", content_path(article, root: @root_category.slug || @root_category.classification, selected_category: @selected_category_class.slug  || @selected_category_class.classification), class: "btn btn-outline-primary"%>
          <% end %>
          <% if @current_user && @is_guider_admin %>
            <% if @selected_category_class.id == @root_category.id %>
              <%= link_to move_article_backward_path(article, root: @root_category.slug) do %>
              <%= image_tag("guider_cms/up.png", height: "25")  %>
              <% end %>
            <% else %>
              <%= link_to move_article_backward_path(article, root: @root_category.slug, selected_category: @selected_category_class.slug) do %>
              <%= image_tag("guider_cms/up.png", height: "25")  %>
              <% end %>
            <% end %>
            <% if @selected_category_class.id == @root_category.id %>
              <%= link_to move_article_forward_path(article, root: @root_category.slug) do %>
              <%= image_tag("guider_cms/down.png", height: "25")  %>
              <% end %>
            <% else %>
              <%= link_to move_article_forward_path(article, root: @root_category.slug, selected_category: @selected_category_class.slug) do %>
              <%= image_tag("guider_cms/down.png", height: "25")  %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
